@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bus Tickets application</h1>
    <p>Here you will be able to buy the tickets to any place in the world you can imagine.</p>
</div>
