@model IEnumerable<BusTickets.Models.City>
@{
    ViewBag.Title = "Map";
}


<table class="table">
    <tr>
        <th>
            City name
        </th>
        <th>
            City code
        </th>
        <th>
            City ID
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                <p>@item.cityName</p>
            </td>
            <td>
                <p>@item.cityCode</p>
            </td>
            <td>
                <p>@item.cityId</p>
            </td>
        </tr>
    }

</table>
