<html>
    <body>
        <div class="text-center">
            <h1 class="display-4">Administration</h1>
            @Html.ActionLink("Manage maps", "ManageMap")
            <h2>                                            </h2>
            @Html.ActionLink("Manage schedules", "ManageSchedule")
        </div>
    </body>
</html>
